.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgb(236, 236, 236);
  border-bottom: 2px solid rgb(129, 129, 129);
  padding-bottom: 5px;
}

@media screen and (orientation: landscape) {
  .wrap {
    width: 18%;
    border: none;
  }
}
