@import "../../palette/_palette.scss";

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: $color-primary;
  padding-bottom: 5px;
}

@media screen and (orientation: landscape) {
  .wrap {
    width: 18%;
    border: none;
  }
}
